.error {
    -fx-text-fill: #a0523d !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #d8d8d8;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: black;
}
